html,
body,
#root,
.App {
    height: 100%;
}

.App {
    text-align: center;
    height: 100vh;
}

.light {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-left: 60px;
}

.dark {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    margin-left: 60px;
}
