.content {
    display: flex;
    justify-content: center;
}

.padding {
    padding: 7% 0% 10% 10%;
    font-size: xx-large;
}

.minusPadding {
    padding: 10%;
}

.medium {
    display: block;
    padding: 10% 0;
    font-size: xx-large;
    margin: 0% 0% 0px 5%;
}
